<div class="container">
    <h1 style="color:rgb(22, 20, 20);text-align: center;"><i>Reset Password</i></h1>


    <form [formGroup]="ngForm" (ngSubmit)="enroll()">
        <div class="form-group">
            <label>MailId</label>
            <input type="text" class="form-control" formControlName="MailId">
            <small class="text-danger" *ngIf="MailId.invalid && MailId.touched ">EmailId is required</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <small class="text-danger" *ngIf="Password.invalid && Password.touched ">Password is required</small>            
        </div>
        <div class="form-group">
            <label>ConfirmPassword</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <small class="text-danger" *ngIf="ConfirmPassword.invalid && ConfirmPassword.touched ">ConfirmPassword is
                required</small>
            <!-- <small class="text-danger"
                *ngIf="ngForm.get(['Password']).value != ngForm.get(['ConfirmPassword']).value ">ConfirmPassword must be
                same password field</small> -->
        </div>
        <div class="form-group">
            <label>Token</label>
            <input type="text" class="form-control" formControlName="Token">
            <small class="text-danger" *ngIf="Token.invalid && Token.touched ">Token is
                required</small>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" [disabled]="ngForm.invalid" class="btn btn-success" value="Reset Password">
            </div>
        </div>
    </form>

    <br><br>
</div>